h1,
h2,
h3 {
    font-family: "Amiri", serif; /* Untuk heading */
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Noto Sans", sans-serif; /* Untuk body */
}
main {
    padding-top: 60px;
    flex-grow: 1;
}
.navbar{
    font-family: "Amiri", serif;
    font-size:20px;
    height:60px;
    z-index:999;
}
.logo-text{
    font-size:30px;
}
.jumbotron {
    top:60px;
    padding: 0;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/BG-IMAGE.jpeg");
}

.jumbotron .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 60px;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.jumbotron h1,
.jumbotron p {
    position: relative;
    z-index: 2;
}

.jadwal {
    height: 500px;
    width: 100%;
    /* background-color: black; */
    padding-top: 100px;
}

.agenda {
    width: 100%;
    height: 550px;
}
.agenda .card{
    margin-top:10px;
}
.laporan{
    height:400px;
    padding-top:60px;
}
/* footer */

.footer {
    background-color: #2c3e50;
    color: #fff;
    height: 300px;
    width:100%;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
}

.footer-logo{
    width:100px;

}
/* tablet */
@media(max-width: 1024px){
    .navbar{
        top:-5px;
        height:70px;
    }
    .jumbotron::before {
        top: 75px;
        height: 495px;
    }
    .text-kegiatan{
        height:650px;
    }
    .kegiatan-week{
        :50px;
    }
    .footer{
        height:650px;
    }
}
/* mobile */
@media (max-width: 576px) {
    .navbar{
        top:-5px;
        height:70px;
    }
    .jumbotron::before {
        top: 75px;
        height: 495px;
    }
    .jadwal {
        height:850px;
    }
    .agenda {
        height: 700px;
        padding-top:60px;
    }
    .laporan{
        height:700px;
        padding-top:60px;
    }
    .footer{
        height:650px;
    }
    .footer h5, .footer p{
        margin-top:10px;
    }
}